astroid==1.6.5
certifi==2018.4.16
chardet==3.0.4
Django==2.0.7
django-bootstrap4==0.0.6
django-oauth-toolkit==1.2.0
djangorestframework==3.8.2
gunicorn==19.9.0
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
oauthlib==2.1.0
Pillow==5.2.0
pylint==1.9.2
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
wrapt==1.10.11
whitenoise==3.3.1
dj-database-url==0.5.0
psycopg==2.7.1
django-rest-framework-social-oauth2==1.1.0
django-bootstrap4==0.0.6