body {
    background-color: #EDF2F5;
    overflow: auto;
}
.bg-blue {
    background-color: #3f3f63;
}

.bg-gray {
    background-color: #88A1B2;
}

.text-white {
    columns: white;
}

.btn-pink {
    color: white;
    background-color: #EE5462;
}

.btn-pink:hover,
.btn-pink:focus {
    color: white;
    background-color: #DA4F5D;
}

/* SIDE BAR */
.col-sm-2.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #3F3F63;
    overflow: auto;
}

/* SIDE BAR - HEADER */
.col-sm-2.sidebar > div:first-child {
    padding: 30px 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #383957;
}

.col-sm-2.sidebar > div:first-child > h4 {
    color: #e0deeb;
}

.col-sm-2.sidebar > div:first-child > h5 {
    color: #b6b4c1;
}


/* SIDE BAR - LIST */
.sidebar .list-group {
    padding: 0;
    background-color: #3F3F63;
}

.sidebar .list-group > span {
    color: #b6b4c1;
    display: block;
    margin-top: 20px;
    padding: 20px 30px;
    font-weight: 300;
}

.sidebar .list-group .list-group-item,
.sidebar .list-group .list-group-item:focus {
    background-color: #3F3F63;
    color: #b6b4c1;
    border: 0;
    padding-left: 60px;
    padding-right: 30px;
}

.sidebar .list-group .list-group-item.active,
.sidebar .list-group .list-group-item:hover {
    background-color: #383957;
    color: #e0deeb;
}

.sidebar .list-group .list-group-item:first-child {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.sidebar .list-group .list-group-item .badge,
.sidebar .list-group .list-group-item.active .badge {
    background-color: #EE5462;
    color: #e0deeb;
}

/* SIDE BAR - LOGOUT */
.sidebar > div:last-child {
    padding: 30px;
}
.sidebar > div:last-child .btn {
    width: 100%;
}

/* CONTENT */
.content {
    padding: 0 40px;
}

.content .card {
    border: none;
}

.table > thead > tr > th,
.table > thead > tr > td {
    vertical-align: middle;
}

.table,
.table > thead > tr > th {
    border-color: #88A1B2;
}

.logo {
    color: #E83F6F !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.footer-logo {
    color: #E83F6F !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.hr-div {
    border-top: 1px solid #E0E0E0;
}

.market {
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px;
}

.footer{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* height: 350px; */
  line-height: 60px; 
  background: #5a6268;
  padding-top: 2em;
  color: white;
}

.footer li {
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    color: white ;
}

.footer li a {
     color: white ;
     text-decoration: none;
}
.copy-right {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 5px;
    font-size: 13px;
}

.image-body {
    background: url("https://drive.google.com/uc?id=1HTApTC_Pvaw1shqD2T5XT4w7IxlXD2y0");
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-body h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
